@import '../../assets/styles/vars';

.SideMenu{
    width: 10%;
    height: 100%;
    background-color: $color2Lighter;
    border-right: 5px solid $color1Darker;
    a {
        color : $color1Darker;
    }
}