@import '../../assets/styles/vars';

.App-logo{
    width: 50px;
    height: 50px;
}

.App-header{
    background-color: $color4;
    border-bottom: 5px solid $color1Darker;
    width: 100%;
    height: $headerHeight;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2%;
}

.App-title{
    padding: 0 2%;
}