@import 'vars';

body{
      background-color: $color1;
}

.App, #root, html, body{
    height: 100%;
    width: 100%;
    color: $color5;
}

.App-content{
    display: flex;
    width: 100%;
    height: calc(100% - #{$headerHeight} );
}