//--- Colors
//palette : https://coolors.co/173c55-840032-e59500-e5dada-02040f

$color1: #002642ff;
$color2: #e59500ff;
$color3: #840032ff;
$color4: #e5dadaff;
$color5: #02040fff;

$color1Darker: #000929;
$color2Lighter: #EFB82C;

//--- Sizes
$headerHeight: 75px;